$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #ec6d4c;
$primary-dark: #f58800;
$on-primary: #000000;

$secondary: #1a4645;
$secondary-dark: #051821;
$secondary-light: #266867;
$on-secondary: #ffffff;