@import "reset";

@import "colors";
@import "mixins";
@import "fonts";

@import "layout";

html,
body {
  width: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $base;
  color: $on-base;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}