.app-page {
  &__wrap {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__block {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid $secondary-dark;
    padding: 50px;
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__line {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__title {
    color: $secondary-dark;
    padding: 0 20px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 36px;
    color: $secondary-dark;
  }

  &__input {
    height: 36px;
    background: transparent;
    border: 1px solid $secondary-dark;
    border-radius: 20px;
    color: $secondary-dark;
    padding: 0 20px;
    margin: 5px 30px;

    &::placeholder {
      color: $secondary;
    }
  }

  &__text {
    color: $secondary-dark;
    font-size: 24px;
  }

  &__icon {
    width: 150px;
    height: 150px;
  }

  &__btn {
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    color: $primary;

    &:active,
    &:visited {
      color: $primary;
      text-decoration: none;
    }

    &:hover {
      color: darken($primary, 10%);
    }
  }

  &__error {
    color: #f44336;
    font-size: 10px;
  }
}

.first-column {
  width: 70%;
}
.second-column {
  align-items: center;
  width: 30%;
}