<div class="app-page__wrap">
  <fieldset class="app-page__block">
    <legend class="app-page__title">Add a location</legend>
    <form #form="ngForm" class="app-page__form" (ngSubmit)="onFormSubmit(form)">
      <label class="app-page__label" for="zipCode">Enter a zipcode:</label>
      <input 
      class="app-page__input" 
      ngModel #textField="ngModel" 
      id="zipCode" 
      placeholder="Your zipcode" 
      name="zipCode" 
      required
      minlength="5"
      maxlength="5"
      (keypress)="keyPressNumbers($event)">
      <p *ngIf="btnState">Input</p>
      <button type="submit" [disabled]="!form.valid" class="app-page__btn">Add location</button>
    </form>
  </fieldset>
</div>

<app-current-weather *ngFor="let todo of todos" [todo]="todo" (deleteClick)="onDeleteClick(todo)"></app-current-weather>